body {

}
.container {
    display: flex;
    width: 50%;
    /*height: 500px;*/
    border: 1px solid coral;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
}
.child {
    border: 1px solid seagreen;
    width: 50px;
    height: 50px;
    /*margin: 10px;*/
    box-sizing: border-box;
}

.main {
    width: 100%;
}
.footer {
    width: 100%;
    height: 35px;
    color: white;
    background-color: seagreen;
}
@media screen and (max-width: 550px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        /*width: 100%;*/
    }
    .child {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .main {
        order: 1;
    }
    .ch1, .ch2, .ch3, .ch4, .ch5, .ch6, .ch7 {
        order: 2;
    }
    .footer {
        order: 3;
    }
}